body {
  background-color: #F0D9B5;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}
#top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title {
  position: relative;
  font-size: min(6vh, 70px);
  font-weight: bold;
  color: #B58863;
  text-align: center;
  top: 20px;
}
#myBoard {
  position: absolute;
  width: 500px;
  max-width: 80%;
  top: 276px;
}
#board2 {
  position: absolute;
  width: 500px;
  max-width: 80%;
  top: 210px;
}
#startButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#startButton {
  top: 860px;
  position: absolute;
  background-color: #F0D9B5;
  color: #B58863;
  padding: 10px 20px;
  border: 2px solid #B58863;
}
#guessButton {
  position: absolute;
  background-color: #F0D9B5;
  color: #B58863;
  padding: 10px 20px;
  border: 2px solid #B58863;
  top: 860px;
}
#timer {
  position: absolute;
  color: #B58863;
  font-weight: bold;
  top: 860px;
}
#result {
  position: absolute;
  color: #B58863;
  font-weight: bold;
  top: 810px;
}
#tryButton {
  top: 860px;
  position: absolute;
  background-color: #F0D9B5;
  color: #B58863;
  padding: 10px 20px;
  border: 2px solid #B58863;
}
#textbox {
  position: absolute;
  display: block;
  margin-top: 20px;
  color: #B58863;
  text-align: left;
  top: 905px;
}

@media (max-width:768px) {
  #myBoard {
    position: static;
    width: 500px;
    max-width: 80%;
    margin-top: 15%;
  }
  #board2 {
    position: static;
    width: 500px;
    max-width: 80%;
    margin-top: 15%;
  }
  #startButton {
    background-color: #F0D9B5;
    color: #B58863;
    padding: 10px 20px;
    border: 2px solid #B58863;
    position: static;
    margin-top: 15%;
  }
  #guessButton {
    position: static;
    background-color: #F0D9B5;
    color: #B58863;
    padding: 10px 20px;
    border: 2px solid #B58863;
    margin-top: 15%;
  }
  #timer {
    position: static;
    color: #B58863;
    font-weight: bold;
    margin-top: 15%;
  }
  #result {
    position: static;
    color: #B58863;
    font-weight: bold;
    margin-top: 15%;
  }
  #tryButton {
    position: static;
    background-color: #F0D9B5;
    color: #B58863;
    padding: 10px 20px;
    border: 2px solid #B58863;
    margin-top: 15%;
  }
  #textbox {
    display: none;
  }
}
